{% extends 'homepage.html' %}
{% load bootstrap4 %}
{% load static %}
{% block additionalstyles%}
<link rel="stylesheet" type="text/css" href="{% static "styles1.css" %}">
{% endblock %}
{% block content%}

<div class="container">
	 <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active" style="color:white;">Search by filter </li>
      </ol>
		<form method="POST" enctype="multipart/form-data" class="form">
			{% csrf_token %}
			{%  bootstrap_form form %}
			{% buttons %}
        		<button type="submit" class="btn btn-success">Search</button>
    		{% endbuttons %}
		</form>
	
	
</div>
	

{% endblock %}